- name: Installing Nginx
  ansible.builtin.package:
    name: nginx
    state: present

- name: Download and extracting frontend 
  ansible.builtin.include_role:
    name: common
    tasks_from: download

- name: Cleanup of Old Web Content 
  ansible.builtin.file:
    path: /usr/share/nginx/html 
    state: absent    # means delete

- name: Copy frontend content to nginx path 
  ansible.builtin.copy:
     src: /tmp/frontend-main/static/
     dest: /usr/share/nginx/html/  
     remote_src: yes  # Source is remote machine as download of the file happened on the remote server.

- name: Copying Roboshop Configuration  
  ansible.builtin.copy:
    src: roboshop.conf 
    dest: /etc/nginx/default.d/roboshop.conf 

- name: Restarting Nginx 
  ansible.builtin.service:
    name: nginx
    state: restarted
    enabled: yes

  