[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{ENV}}.robot.internal
Environment=CATALOGUE_HOST=catalogue-{{ENV}}.robot.internal
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target